#favourites-container {
  display: flex;
  justify-content: space-evenly;
  #favourite-map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 500px;
    border: 1em solid black;
  }
  #listing {
    height: 100%;
    h1 {
      margin: 0;
    }
    #resultsTable {
      float: left;
    }
  }
}
