// #map-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 400px;
//   width: 500px;
//   margin: 100px auto;
//   border: 1em solid black;
// }

#homeMap {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin: 100px auto;
  border: 1em solid #1a2656;
  border-radius: 50%;
}