// #14a2f4
// #287ac3
// #0f508b
// #1a2656
// #01050e

#map-page {
  background-color: #287ac3;
  #toggle {
    background-color: #14a2f4;
    border: 10px solid #1a2656;
    margin: 1em auto;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    .MuiSwitch-colorSecondary {
      color: greenyellow
    }
    .MuiSwitch-track {
      background-color: cornflowerblue;
      opacity: 0.75;
    }
  }
}