
.chat-input {
    padding: 0.5rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    background: #fffeea;
    display: block;
    margin:  1.5rem auto .5rem;
    width: 80%;
}

