
.display {
    background: #fffeea;
    height: 500px;
    max-height: 500px;
    width: 300px;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 1rem;
    list-style: none;
    // display: flex;
}

.sender-message {
    background: red;
    border-radius: 10px;
    display: inline;
    padding: 6px;
}

.contact-message {
    background: blue;
    border-radius: 10px;
    display: inline-block;
    padding: 6px;
    margin-bottom: 0;
}