.display {
    background: #fffeea;
    height: 500px;
    width: 300px;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 1rem
}

.chat-input {
    padding: 0.5rem;
    border-radius: 5px;
    background: #fffeea;
}