.schedule-details{
  border: .2em solid #01050e;
  background-color: #287ac3;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 20px;
  margin: 100px;
  width: 80%;
}

.add-schedule-button {
  color: #01050e;
}
