.schedule-item{
   margin-top: 20px;
   padding-bottom: 20px;
   border: 1px solid #01050e;
   font-weight: bold;
   color: blue;
    
}

.item{
   display: inline;
   font-weight: bold;
   color: #01050e;
}

.schedule-title{
   color: red;
   font-weight: bold;
   font-size: 1.5em;
}

.item-div{
   padding: 10px;
   color: white;
   word-wrap: break-word;
}

.item-title{
     font-size: 1.1em;
     font-style: italic;
     color: #01050e ;
     word-wrap: break-word;
}

.date-selector {
   margin: 0 .5rem 0 .5rem;
   background: #0f508b;
   // border: 1px solid #01050e;
   border: none;
   // border-radius: 3px;
   // color: #01050e;
   cursor: pointer;
   &:hover {
      color: #01050e;
      background-color: #14a2f4;
   }
}


#scheduleButton {
   border: none;
   background-color: #1a2656;
   cursor: pointer;
   &:hover {
      color: #0f508b;
      background-color: white;
   }
}