 .schedule {
  background-color:  #287ac3;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 20px;
  margin: 100px;
  width: 500px;
} 

.schedule-item{

   border: 1px solid black;
   font-weight: bold;
   color: blue;
    
}

.item{
   display: inline;
   font-weight: bold;
   color: black;
}

.item-title{
     font-size: 1.1em;
     font-style: italic;
}

.schedule-title{
   color: red;
   font-weight: bold;
   font-size: 1.5em;
}

.item-div{
   padding: 10px;
}

.date-selector {
   margin: 0 .5rem 0 .5rem;
   background: #287ac3;
   border: 1px solid #01050e;
   border-radius: 3px;
   color: #01050e;
   cursor: pointer;
}